<html>
    <head>
        <title>form registrasi</title>
    </head>

    <body>
        <form action="/users/register" method="POST">
        <input type="text" name="name" placeholder="masukkan username">
        <input type="password" name ="password" placeholder="masukkan password">
        <input type="text" name = "email" placeholder="masukkan email">
        <input type="submit" value="Simpan">
        
        </form>
    </body>
</html>