<html>
    <head>
        <title>form registrasi</title>
    </head>

    <body>
        <form action="/todo/create" method="POST">
        <input type="text" name="kegiatan" placeholder="masukkan kegiatan">
        <input type="number" name ="status" placeholder="masukkan 0/1(belum,sudah)">
        <input type="submit" value="Simpan">
        
        </form>
        <a href="/todo"><button>CANCEL</button></a>
    </body>
</html>