<html>
    <head>
        <title>form registrasi</title>
        <script>
            function validateForm() {
              var x = document.forms["add"]["kegiatan"].value;
              if (x == "" || x == null) {
                alert("Nama kegiatan harus di isi BOS...!!!");
                return false;
              }
            }
            </script>
    </head>

    <body>
        <form name="add" action="/todo/create" onsubmit="return validateForm()" method="POST">
        <input type="text" name="kegiatan" placeholder="masukkan kegiatan">
        
        <h3 style="margin-top: 30px;">Sudah Dilakukan?</h3>
        <input type="radio" id="Sudah" name="status" value="1">
        <label for="Sudah">Sudah</label><br>
        <input type="radio" id="Belum" name="status" value="0">
        <label for="Belum">Belum</label><br>
        <input type="submit" value="Simpan">
        
        </form>
        <a href="/todo"><button> << Back to List</button></a>
    </body>
</html>