<html>

<head>
    <title>form registrasi</title>
    <link rel="stylesheet" href="/css/add.css">
    <link rel="stylesheet" href="/css/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script>
        function validateForm() {
            var x = document.forms["add"]["kegiatan"].value;
            if (x == "" || x == null) {
                alert("Nama kegiatan harus di isi BOS...!!!");
                return false;
            }
        }
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    <div class="logo">
                        <img src="/fosanlogo.png" height="120px">
                    </div>
                    <h1>Tambah Kegiatan</h1>
                    <a href="/todo"><button class="tombolheader"><i class="fa fa-backward fa-2x"
                                aria-hidden="true"></i><br>
                            Kembali</button></a>
                    <a href="/users/logout/"><button class="tombolheader"><i class="fa fa-power-off fa-2x"
                                aria-hidden="true"></i><br>
                            Log Out</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">

            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tablespace">
                    <form name="add" action="/todo/create" onsubmit="return validateForm()" method="POST">
                        <input class="input" type="text" name="kegiatan" placeholder="masukkan kegiatan">
                        <br>
                        <br>
                        <input type="radio" id="Sudah" name="status" value="1">
                        <label for="Sudah">Sudah</label>
                        <br>
                        <input type="radio" id="Belum" name="status" value="0">
                        <label for="Belum">Belum</label>
                        <br>
                        <div class="button">
                            <button type="submit" style="width: 150px;" class="btn btn-success">Simpan</button>
                            <a href="/todo"><button type="button" style="margin-top: 5px;"
                                    class="btn btn-danger">Cancel</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="js/bootstrap.js"></script>

</html>