<html>

<head>
    <title>Halaman list</title>
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    <div class="logo">
                        <img src="/fosanlogo.png" height="120px">
                    </div>
                    <h1 class="text" style="color: black;">To Do List Assesment</h1>
                    <div class="profile">
                        <a href="/todo/<%= profil%>" style="color: black;"><button class="tombolprofil"><i
                                    class="fa fa-user fa-2x" aria-hidden="true"></i><br> Profil
                            </button></a>
                    </div>
                    <div class="profile">
                        <a href="/users/logout/" style="color: black;"><button class="tombolprofil"><i
                                    class="fa fa-power-off fa-2x" aria-hidden="true"></i><br>Log Out</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">

            </div>
            <div class="col-md-2">
                <a href="/todo/create/" style="color: white;"><button type="button" class="btn btn-success"><i
                            class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
                    </button></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tablespace">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Kegiatan</th>
                                <th>Status</th>
                                <th>Nama</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < data.length; i++) {%>
                            <tr>
                                <td><%= data[i].kegiatan%></td>
                                <td><%= data[i].status==0? 'Belum': 'Sudah'%></td>
                                <td><%= data[i].User.name%></td>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="js/bootstrap.js"></script>

</html>